body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFE5E5;
}
hr{
    border: 1px dashed #333;
    width:50px;
}
.container {
    width: 80%;
    margin: 0 auto;  
}
h2{
    color: #756AB6;
}
.container p{
    text-align: justify;
}
/*header section*/
header {
    background-color: #333;
    color: #FFE5E5;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding:0;
    display: flex;
    justify-content:flex-end;
    gap: 20px;
}

nav ul li {
    display:inline-block;
    margin-bottom: 5px;

} 

nav a {
    text-decoration: none;
    color: #FFE5E5;
}
@media only screen and (max-width:768px){
  header{
    padding: 1rem;
  }
  header .container{
    flex-direction: column;
    align-items:flex-start;
  }
  nav ul{
    flex-direction:column;
    gap:10px;
  }
  nav ul li{
    margin-bottom: 0;
  }
}

section {
    padding: 80px 0;
}
/*hero-section*/
#hero {
    background-image: url('assets/hero-img.jpg');
    background-size: cover;
    text-align: center;
    color: #FFE5E5;
   
}
#hero .container{
    height: 75vh;
    width:100vh;
}

#hero h2 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}
#hero p{
    color:#333;
    text-align: center;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #756AB6;
    color: #FFE5E5;
    text-decoration: none;
}
@media only screen and (max-width:768px) {
 #hero{
  background-size :cover;
 } 
 #hero .container{
  width:100px;
  padding: 20px;
 }
 #hero h2{
  font-size: 18px;
 }
  #hero p{
    font-size: 14px;
  }
  .btn{
margin-top:10px;
  }
}

#places {
    padding: 80px 0;
}

.description {
    margin-bottom: 40px;
    text-align: justify;
    background-color: hsl(274, 29%, 91%);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
  }

h3 {
    color:#756AB6;
}

p {
    color: #333;
}

/* Grid layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    gap: 30px;
    padding: 20px;
    
}
.description img{
width: 100%;
height: auto;


}
@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

  /*booking section*/
  #booking{
    background-color:#333;
    padding:20px 20px;
    width: 50%;
    margin: 0 20rem 40px;
    border-radius: 20px;

  }
  #booking h2{
    text-align: center;
    font-size:xx-large;
  }
  #booking-form{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    margin:0 20px;
  }
  
label{
    display: block;
    margin-bottom: 8px;
    color: #FFE5E5;
        

}
input{
    width:75%;
    padding: 20px;
    margin-bottom:16px;
    border-radius: 10px;
    border: none;
}
input[type="submit"]
{   
    width: 30%;
    margin: 0 10rem;
    padding: 15px;
    background-color: #756AB6;
    color: #FFE5E5;
    cursor: pointer;
    border-radius:20px;
    border:none;

}
@media only screen and (max-width: 768px) {
  #booking {
      width: 70%;
      margin: 0 auto;
  }

  input[type="submit"] {
      margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  input {
      width: 100%;
  }
  
  input[type="submit"] {
      width: 100%;
      margin: 0;
  }
}

/*footer-section*/

footer {
    background-color: #333;
    text-align: center;
    padding: 1rem 0;
    
}
footer .container p{
  color: #FFE5E5;
    text-align: center;
}
